@model IEnumerable<Labb2_LINQ.Models.SchoolViewModel>
@{
    ViewData["Title"] = "TeacherProgramming";
}

<h1>Teacher Programming</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
            </tr>
        }
    </tbody>
</table>

